* {
    font-family: 'Roboto', sans-serif;
}

.b_box {
    background-color: #f8f8fb;
}

.h_box {
    background-color: #f9f9fb;
    padding-top: 5px;
    padding-bottom: 5px;
}

.side_box {
    background-color: #132940;
    height: 1000px;

}

.cpanel_box {
    background-color: red;
    height: 1000px;
}

.cpanel_header {
    background-color: #1b72e8;
    height: 300px;
}

.cpanel_toolsdata {
    background-color: #f8f8fb;
    height: 700px;
}