* {
    font-family: 'Roboto', sans-serif;
}

.b_box {
    background-color: #f8f8fb;
}

.h_box {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.searchbar {
    width: 100%;
    background-color: #e4e4e5;
    border-radius: 5px;
    border-color: #f8f8fb;
}

.side_box {
    display: inline;
    width: 10%;
    height: 100vh;
    background-color: #142b41;
    background-image: url('/img/sidebar-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cpanel_box {
    display: inline;
    width: 90%;
    background-color: red;
    height: 300px;
}

.cpanel_header {
    background-color: #1b72e8;
    color: white;
    height: 300px;
}

.cpanel_toolsdata {
    background-color: yellow;
    height: 700px;
}

.gear:last-of-type {
    margin-top: auto;
}

.add_student {
    background-color: transparent;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 8px;
    font-size: 25px;
}